.img-container {
    overflow:hidden;
    position: relative;
    img {
        transition:all 0.5s ;
    }
    
    &:hover { 
        img {
            transform:scale(1.25);
            transition:all 0.5s ;
            }
        span {
            transform: translateY(-95%);
            transition:all 0.5s ;
        }
    }
    span {
        position: absolute;
        bottom: -40px;
        right: 0;
        
        transition:all 0.5s ;
        
    }
}

